*{
	padding: 0;
	margin: 0;
	font-size: 14px;
	font-family: "微软雅黑";
	color: #999;
}
input{outline:none;} 
ul,li{list-style: none;}
a{text-decoration: none;}
.container{
	width: 100%;
	height: 100%;
	min-width: 1200px;
}

.header{
	width: 100%;
	height: 46px;
	background: #f2f2f2;
	line-height: 46px;
}

.header i{
	position: relative;
	top: 4px; 
}

.header .rt a{
	color: #503dff;
}

/*搜索样式*/
.seacher{
	width:100%;
	height: 82px;
	line-height: 82px;
	margin-top: 10px;
}

.sr-content{
	width: 980px;
	height: 82px;
	margin:0 auto;
	height: 82px;
}

.sr-content>div{
	height:82px;
	cursor: pointer;
}

.sr-div{
	height: 82px;
	line-height: 82px;
	margin-left: 15%;
}
.sr-input{
	width: 340px;
	height: 38px;
	border: 1px solid #f17d56;
	text-indent: 3em;
}
.btn-sr{
	width: 62px;
    background: #f17d56;
    height: 40px;
    border: none;
    margin-left: -5px;
    color: #fff;
    cursor: pointer;
}
    
/*banner样式*/
.banner{
	text-align: center;
}

.banner img{
	max-width: 100%;
}

/*导航样式*/
.cate{
	width: 100%;
	height: 60px;
	background: #fbfbfb;
}
.cate>ul {
	
	width: 980px;
	margin: 0 auto;
}

.cate>ul>li{
	margin: 12px 30px 12px 0;
	list-style: none;
	width: 80px;
	height: 34px;
	line-height: 34px;
	border:1px solid #fe9b00;
	border-radius: 3px;
	text-align: center;
}

.cate>ul>li>a{
	display: block;
	text-decoration: none;
}

.cate>ul>li>a:hover{
	background: #fe9b00;
	color: #fff;
}
/*iframe样式*/
.content{
	width: 100%;
}
nav{
	width: 100%;
	/*max-width: 1900px;*/
	/*min-width:1900px;*/
	height: 40px;
	max-width:1900px;
	margin:0 auto;
	background: #ff673e;
}
.nav{
	width: 980px;
	margin:0 auto;
}
.nav ul{
	margin:1px auto;
}
.nav li{
	display: inline-block;
	width: 77px;
	height:40px;
	line-height: 40px;
	text-align: center;
}
.nav li>a{
	color:#fff;
}
.nav li>a:hover{
	border-radius: 4px;
	padding:5px 10px;
	background: #fff;
	color:#ff673e;
}
/*主题样式开始*/
.main{
	width: 980px;
	margin:0 auto;
	border:2px solid #e7e7e7;
	margin-top: 15px;
	background: #fbfbfb;
}
.main ul{
	margin-bottom: 20px;
}
.main ul li{
	float: left;
	width: 460px;
	height: 110px;
	background: #fff;
	margin-top: 20px;
	margin-left:20px;
}

.main .main-img{
	width: 100px;
	height: 110px;
	
}
.main .main-img img{
	padding: 15px 14px 18px 14px;
}
.main .main-content{
	width: 350px;
	height: 110px;
}

.main .main-content>div:nth-child(1){
	width: 250px;
	height: 110px;
	padding-top: 17px;
    padding-left: 5px;
}

.main .main-content>div:nth-child(2){
	width: 95px;
	height: 110px;
}

.main .main-content a{
	font-size: 20px;
	color:#000;
}

.main .main-content .level{
	border-right: 1px solid #999;
	position: relative;
    top: 3px;
	width: 100px;
	height: 17px;
}

.main .main-content .level i{
	display: block;
	float: left;
	width: 17px;
	height: 17px;
}
.main .main-content>div:nth-child(2){
	line-height: 110px;
}
.main .main-content>div:nth-child(2)>a{
	width: 68px;
	height: 30px;
	border:1px solid #e71818;
	border-radius: 4px;
	font-size: 14px;
	color: #e71818;
	text-align: center;
	line-height: 30px;
}

/*分页的样式*/
.page{
	width: 100%;
	height: 48px;
	line-height: 48px;
}

.page-main{
	width: 460px;
	margin: 0 auto;
}
.select{
	border-radius: 4px;
}


/*底部样式*/
.footer{
	width: 100%;
	height: 320px;
	background: #fbfbfb;
	
}
.footer>div{
	width: 980px;
	margin:0 auto;
	padding-top: 56px;
}
.ft-left{
	
}
.ft-left div:nth-child(1){
	margin-left:60px;
}
.ft-left div ul{
	margin-left:13px;
}
.ft-left div ul li{
	width: 100%;
	height: 28px;
}
.ft-left img{
	margin-top: 5px;
}
.ft-left div{
	width: 256px;
	height: 160px;
	text-align: center;
}
.ft-right{
	width: 272px;
	height: 150px;
	margin-right: 60px;
}
.ft-right>div{
	width: 120px;
	text-align: center;
}

.ft-ft div ul li{
	height: 33px;
	padding:0 15px;
}

.ft-ft div:nth-child(1){
	margin-bottom: 10px;
}

/*图标文件*/
.sr-icon{
	background:url("../images/seacher.png") no-repeat; 
}
.games{
	background: url("../images/games.png") no-repeat;
}
.recharge{
	background: url("../images/recharge.png") no-repeat;
}
.star{
	background: url("../images/star.png") no-repeat;
}
/*外边据*/
.mg-top-5{
	margin-top: 5px;
}
.mg-left-20{
	margin-left: 20px;
}
.mg-left-10{
	margin-left: 10px;
}
.mg-right-34{
	margin-right: 34px;
}
.c-padding-left{
	padding-left: 0!important;
}

/*固定的样式*/
.text-center{
	text-align: center;
}
.top-31{
	top:31px;
}
.left-10{
	left:10px;
}
.posi{
	position: relative;
}
.abso{
	position: absolute;
}
.h-46{
	height: 46px;
}
.block{
	display: block;
}
.in-block{
	display: inline-block;
}
.lt{
	float: left;
}

.rt{
	float: right;
}

.clear{
	clear: both;
}

.ic-20{
	display: inline-block;
	width: 20px;
	height: 20px;
}

.ic-24{
	display: inline-block;
	width: 24px;
	height: 24px;
}

/*选中样式*/
.hd-active{
	color:#ffa016;
}
.blod{
	font-weight: bold;
	color: #646464;
}