@import url("reset.css");
@import url("common.css");
.container {
    width: 600px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -90px;
    margin-top: -300px;
}


/*头部外面的样式*/

.header {
    width: 340px;
    height: 318px;
    border: 2px solid #010200;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #00a0e9;
    position: absolute;
    top: 100px;
    z-index: 6;
}


/*l脸的样式*/

.face {
    width: 305px;
    height: 235px;
    border: 2px solid;
    position: absolute;
    bottom: 0px;
    right: -8px;
    /* transform: translate(15px,80px); */
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    background: #fff;
    transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
}


/*眼睛样式*/

.eye {
    width: 75px;
    height: 97px;
    position: absolute;
    border: 2px solid #161711;
    border-radius: 50%;
    transform: rotate(-20deg);
    top: 47px;
    right: 202px;
    background: #fff;
}


/*右眼的样式*/

.eyer {
    right: 130px;
    top: 15px;
    transform: rotate(-28deg);
    -webkit-transform: rotate(-28deg);
    -moz-transform: rotate(-28deg);
    -o-transform: rotate(-28deg);
    -ms-transform: rotate(-28deg);
}


/*眼仁的样式*/

.header .eyeBlack {
    width: 18px;
    height: 36px;
    border-radius: 50%;
    background: #000;
    position: absolute;
    bottom: 23px;
    right: 9px;
}


/*右眼单独的样式*/

.header .eyer .eyeBlack {
    left: 14px;
    bottom: 28px;
}


/*眼白的样式*/

.eyeWrite {
    width: 8px;
    height: 12px;
    position: absolute;
    background: #fff;
    border-radius: 50%;
    bottom: 13px;
    right: 3px;
}

.donghua {
    animation: myfirst 10s 0s infinite;
    -webkit-animation: myfirst 10s 0s infinite;
    -moz-animation: myfirst 10s 0s infinite;
    -o-animation: myfirst 10s 0s infinite;
    -ms-animation: myfirst 10s 0s infinite;
}


/*老师就是下面这段代码加上去之后就出问题了
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
--------------------------------
*/


/*动画*/

@keyframes myfirst {
    0% {
        bottom: 13px;
        right: 3px;
    }
    25% {
        right: 8px;
        bottom: 13px;
    }
    50% {
        bottom: 21px;
        right: 8px;
    }
    75% {
        bottom: 21px;
        right: 3px;
    }
    100% {
        bottom: 13px;
        right: 3px;
    }
}


/*鼻子的样式*/

.header .nose {
    width: 44px;
    height: 44px;
    background: #e0002a;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    /*transform: translate(142px,98px); */
    top: 97px;
    right: 150px;
    z-index: 2;
}


/*鼻白的样式*/

.header .nose .white {
    width: 13px;
    height: 13px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 16px;
    left: 10px;
}


/*鼻线的样式*/

.header .noseLine {
    width: 20px;
    height: 160px;
    border-right: 2px solid #000;
    position: absolute;
    top: 100px;
    left: 180px;
    transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    border-radius: 50%;
}


/*遮住鼻线下面的样式*/

.header .cover {
    width: 100px;
    height: 60px;
    background: #FFF;
    position: absolute;
    bottom: 35px;
    right: 100px;
}


/*嘴的遮罩*/

.header .mouthBox {
    width: 290px;
    height: 82px;
    position: absolute;
    bottom: 84px;
    right: 0px;
    overflow: hidden;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
}


/*嘴的样式*/

.header .mouthBox .mouth {
    width: 300px;
    height: 186px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    bottom: 1px;
    left: -20px;
}


/*胡须的总体样式*/

.header .beard {
    width: 106px;
    height: 3px;
    border-bottom: 3px solid #000;
    border-radius: 50%;
    position: absolute;
}

.header .beard1 {
    transform: rotate(-10deg);
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    bottom: 136px;
    left: 49px;
}

.header .beard2 {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    bottom: 108px;
    left: 58px;
}

.header .beard3 {
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    bottom: 80px;
    left: 69px;
}

.header .beard4 {
    transform: rotate(-34deg);
    -webkit-transform: rotate(-34deg);
    -moz-transform: rotate(-34deg);
    -o-transform: rotate(-34deg);
    -ms-transform: rotate(-34deg);
    bottom: 204px;
    right: 17px;
}

.header .beard5 {
    transform: rotate(-27deg);
    -webkit-transform: rotate(-27deg);
    -moz-transform: rotate(-27deg);
    -o-transform: rotate(-27deg);
    -ms-transform: rotate(-27deg);
    bottom: 176px;
    right: 6px;
}

.header .beard6 {
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    bottom: 148px;
    right: -5px;
}


/*头的样式结束*/


/*脖子的样式*/

.neck {
    width: 302px;
    height: 318px;
    border: 2px solid #000;
    background: #e0002a;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 48%;
    position: absolute;
    top: 116px;
    left: 14px;
    z-index: 3;
}


/*铃铛的样式*/

.bell {
    width: 56px;
    height: 56px;
    background: #ffe43b;
    border: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    bottom: 129px;
    right: 345px;
    transform: rotate(-13deg);
    -webkit-transform: rotate(-13deg);
    -moz-transform: rotate(-13deg);
    -o-transform: rotate(-13deg);
    -ms-transform: rotate(-13deg);
    z-index: 4;
}

.bell .line {
    width: 56px;
    height: 50px;
    position: absolute;
    border-right: 2px solid #000;
    border-radius: 50%;
    top: 18px;
    left: -24px;
}

.bell .linebg {
    width: 86px;
    height: 56px;
    background: #ffe43b;
    position: absolute;
    bottom: 18px;
    left: -30px;
    border-radius: 50%;
}

.bell .center {
    width: 15px;
    height: 7px;
    border: 2px solid #000;
    border-radius: 50%;
    background: #7d6b56;
    position: absolute;
    bottom: 12px;
    right: 14px;
}

.bell .top {
    width: 86px;
    height: 56px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    bottom: 30px;
    left: -26px;
    background: #ffe43b;
}

.bell .top2 {
    width: 86px;
    height: 56px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    bottom: 37px;
    left: -26px;
    background: #ffe43b;
}


/*屁股*/

.arse {
    width: 186px;
    height: 186px;
    border-left: 2px solid #000;
    border-top: 2px solid #000;
    border-bottom: 2px solid #00a0e9;
    border-radius: 50%;
    position: absolute;
    background: #00a0e9;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    bottom: 120px;
    left: -110px;
    z-index: 2;
}

.arse .arsebg {
    width: 186px;
    height: 186px;
    border-left: 2px solid #00a0e9;
    border-top: 2px solid #00a0e9;
    border-right: 2px solid #000;
    border-radius: 50%;
    position: absolute;
    background: #00a0e9;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -o-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
}


/*肚子*/

.tummy {
    width: 240px;
    height: 186px;
    position: absolute;
    border-left: 2px solid #00a0e9;
    border-right: 2px solid #000;
    border-bottom: 2px solid #000;
    border-radius: 50%;
    background: #00a0e9;
    bottom: 113px;
    left: -60px;
    z-index: 2;
}


/*尾巴*/

.tail {
    width: 58px;
    height: 58px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    background: #e0002a;
    bottom: 275px;
    left: -146px;
}

.tail .lineBox {
    width: 20px;
    height: 20px;
    position: absolute;
    overflow: hidden;
    bottom: -7px;
    right: -6px;
}

.tail .lineBox .line {
    width: 56px;
    height: 56px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    right: 10px;
    bottom: -33px;
}


/*腿的样式*/

.leg {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px solid #000;
    position: absolute;
    background: #00a0e9;
    bottom: 115px;
    left: -126px;
    z-index: 1;
}

.legbottomBox {
    width: 103px;
    height: 87px;
    position: absolute;
    border-radius: 40%;
    background: #333;
    overflow: hidden;
    left: -112px;
    bottom: 116px;
    z-index: 2;
}

.legbottom {
    width: 240px;
    height: 120px;
    position: relative;
    border: 2px solid #000;
    border-radius: 50%;
    background: #00a0e9;
    left: -89px;
    bottom: 36px;
}


/*脚*/

.foot {
    width: 120px;
    height: 100px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    bottom: 106px;
    left: -186px;
}


/*左手*/

.handl {
    width: 120px;
    height: 80px;
    position: absolute;
    border: 2px solid #000;
    border-radius: 50%;
    background: #00a0e9;
    bottom: 135px;
    right: 239px;
}

.handl .line {
    width: 80px;
    height: 80px;
    position: absolute;
    border-left: 2px solid #000;
    border-radius: 50%;
    top: -15px;
    right: 1px;
    transform: rotate(35deg);
    -webkit-transform: rotate(35deg);
    -moz-transform: rotate(35deg);
    -o-transform: rotate(35deg);
    -ms-transform: rotate(35deg);
}

.handl .line .linebg {
    width: 60px;
    height: 60px;
    position: absolute;
    background: #00a0e9;
    top: 40px;
    left: 8px;
    border-radius: 50%;
}

.handl .palm {
    width: 78px;
    height: 60px;
    border: 2px solid #000;
    position: absolute;
    border-radius: 50%;
    top: -42px;
    right: -7px;
    background: #fff;
    transform: rotate(-40deg);
    -webkit-transform: rotate(-40deg);
    -moz-transform: rotate(-40deg);
    -o-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
}


/*右手*/

.handtop {
    width: 76px;
    height: 48px;
    position: absolute;
    background: #00a0e9;
    border-top: 2px solid #000;
    bottom: 140px;
    z-index: 4;
    left: 64px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}

.handBox {
    width: 180px;
    height: 70px;
    overflow: hidden;
    position: absolute;
    z-index: 5;
    bottom: 105px;
}

.handBox .hand {
    width: 260px;
    height: 110px;
    border: 2px solid #000;
    border-left: 2px solid transparent;
    background: #00a0e9;
    border-radius: 50%;
    position: absolute;
    left: -81px;
    top: -51px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}

.handBox .hand .line {
    width: 40px;
    height: 80px;
    position: absolute;
    border-left: 2px solid #000;
    right: 40px;
    top: -12px;
}

.palml {
    width: 86px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #000;
    background: #fff;
    z-index: 7;
    bottom: 135px;
    left: 93px;
    transform: rotate(15deg);
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -o-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
}
